<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477763216163-s5l2si8nkmsqfuacvifgcc8n08da0c4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477763216163-s5l2si8nkmsqfuacvifgcc8n08da0c4a</string>
	<key>API_KEY</key>
	<string>AIzaSyAwypk19KrBiRN0ktAQvK-iOpLNfP0Ze_4</string>
	<key>GCM_SENDER_ID</key>
	<string>477763216163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lig.LeeMC</string>
	<key>PROJECT_ID</key>
	<string>leemc-bb5fb</string>
	<key>STORAGE_BUCKET</key>
	<string>leemc-bb5fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477763216163:ios:cbf646c7cfcc731b1ee296</string>
</dict>
</plist>